{% extends 'base/base.html' %}
{% block extrastatic %}
{% endblock %}
{% block title %}
Home: Eventos
{% endblock %}
{% block content %}
<div class="container">
	<h2 class="text-center"><span class="label label-default">Eventos cadastrados</span></h2>
	<div class="panel panel-default">
 		<div class="panel-body">
			<div class="panel-group">
				{% if object_list %}
			    	{% for evento in object_list %}
						<div class="form-group col-sm-4">
							<div class="panel panel-primary">
								<div class="panel-heading text-center">{{ evento.titulo }}</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item active"><span class="glyphicon glyphicon-info-sign"></span> Informações sobre o Evento</li>
										<li class="list-group-item">Organizadores: {{ evento.lista_de_organizadores }}</li>
										<li class="list-group-item">Promotores: {{ evento.lista_de_promotores }}</li>
										<li class="list-group-item">Data de ínicio: {{ evento.data_inicio }}</li>
										<li class="list-group-item">Data de Término: {{ evento.data_fim }}</li>
										<li class="list-group-item">Horário de Início: {{ evento.horario_inicio }}</li>
										<li class="list-group-item">Horário de Término: {{ evento.horario_fim }}</li>
										<li class="list-group-item">Patrocinadores: {{ evento.lista_de_patrocinadores }}</li>
									</ul>
								</div>
								<div class="panel-footer">
									<div class="row">
										<div class="col-md-5 col-md-offset-1">
											<div class="form-group">
												<a class="btn btn-primary btn-block" href="{% url 'eventos:evento_editar' evento.id %}">Editar</a>
											</div>
										</div>
										<div class="col-md-5">
											<div class="form-group">
												<a class="btn btn-danger btn-block" href="{% url 'eventos:evento_eliminar' evento.id %}">Excluir</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
			    	{% endfor %}
				{% else %}
				<h1>Não existem registros de eventos</h1>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock%}